
<!--********************COMPONENT HOME*******************-->
<!--*** Es la descripción de la caractéres que se usan para darle forma al componente ***-->
<div fxFlex fxLayout="column">
    <div fxLayout="row wrap" >
        <div class="card" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" *ngFor="let character of allCharacters | async " class="image">
           <app-character [character]="character"></app-character> 
                
                                           
        </div>
    </div>
</div>
